body{
    background-color: #101014;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: white;
    background-color: #404044;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
}
h1{
    font-family: Bowlby One SC ,sans-serif;
    color: white;
    font-size: 30px;
    
}
nav{
    margin-right: 10px;
}
button{
    margin-left: 100px;
    justify-content: space-between;
}

.code{
   
    
}

#moi{
    display: flex;
    justify-content: space-between;
}


.mail{
    display: flex;
    
}
.contact{
    font-size: 20px;
}
:nth-last-child(a){
    background-color: yellow;
}

