a{
    text-decoration: none;
    color: black ;
}
li{
    list-style-type: none;
    font-size: 30px;
}

ul{
    display: flex;
    justify-content: space-around;
    background-color: blue ;

}
footer{
    display: block;
    margin-top: 50px;
    
}


#image{
background-color: aqua;
}

#exp{
font-size: 20px;
color: blue;

}

.temps{
    font-size: 15px;
    color: black;
}
#projets{
    background-color: #ACC9E5;
}
#contact{
    justify-content: center;
}
